@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    height: 55px;
    pointer-events: none;
    float: left;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 0px;
    color: white;

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.routes-warp {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .tab-bar {
      display: flex;
  }